<template>
  <v-container class="fill-height">
    <v-responsive class="d-flex align-center text-center fill-height">
      <v-card>
        <v-card-title>
          Track your Tasks
        </v-card-title>
        <v-card-text>
          <v-row>
            <v-col cols="11">
              <v-text-field v-model="newTask" variant="outlined" density="compact"
                            rounded label="write your task">
              </v-text-field>
            </v-col>
            <v-col cols="1">
              <v-btn color="indigo" @click.prevent="addTask">
                Add
              </v-btn>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12">
              <v-list>
                <v-list-item v-for="(task, index) in taskList" :key="index"
                             :class="{ completed: task.completed }">
                  <v-list-item-title class="d-flex"
                                     :class="{ 'text-decoration-line-through': task.completed }">
                    {{ task.text }}
                  </v-list-item-title>
                  <template v-slot:append>
                    <v-list-item-action>
                      <v-checkbox v-model="task.completed" color="success"  @click.stop
                                  class="d-flex justify-center align-center"></v-checkbox>
                      <v-spacer>
                      </v-spacer>
                      <v-icon color="red" @click="removeTodo(index)">mdi-delete</v-icon>
                    </v-list-item-action>
                  </template>
                </v-list-item>
              </v-list>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>

    </v-responsive>
  </v-container>
</template>

<script>
import {mapActions} from "vuex";

export default {
  data() {
    return {
      newTask: '',
      taskList: [
        {text: 'Learn Vue', completed: false},
        {text: 'Build an app', completed: false},
        {text: 'Take a break', completed: true}
      ],
    }
  },
  created() {

  },
  methods: {
    ...mapActions(['createTask']),
    addTask() {
      if (this.newTask) {
        this.taskList.push({text: this.newTask, completed: false});
        this.newTask = '';
      }
    },
    removeTodo(index) {
      this.taskList.splice(index, 1);
    }
  }
}

</script>
