* {
    font-family: "Comic Sans MS", sans-serif;
}
/* Min part of page */
main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
h1 {
    color: #333e62;
}
button {
    background-color: #333e62;
    color: white;
    border: 1px solid #333e62;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2px;
    cursor: pointer;
}
ul {
    padding: 0;
    list-style: none;
}
li {
    display: flex;
    margin: 1rem 0;
}
li span{
    display: flex;
    width: 8rem;
    text-align: center;
    margin-right: 2rem;
}
input[type="checkbox"] {
    width: 2rem;
    margin-right: 2rem;
}